{% extends "base.html" %}
{% block title %}Actualizar Usuario{% endblock title %}
{% block content %}
<div class="container">
<h2 class='text-center'>Actualizar datos de {{usuario_get.nombre}}</h2>
    <form class='col-8 col-md-7 col-lg-6 col-xl-5 mx-auto' action='' method="post">
        {% csrf_token %}
        <div class="my-2">
        <label class="form-label">Tipo de usuario</label>
        <input type="text" class="form-control" placeholder='{{usuario_get.tipo_usuario}}' disabled>
        </div>
        <div class="my-3">
          <label class="form-label">Nombre</label>
          <input name='nombre' value="{{usuario.nombre}}" type="text" class="form-control" placeholder='{{usuario_get.nombre}}' required>
        </div>
        <div class="my-3">
          <label class="form-label">Apellido</label>
          <input name='apellido' value="{{usuario.apellido}}" type="text" class="form-control" placeholder='{{usuario_get.apellido}}' required>
        </div>
        <!--<div class="my-3">
          <label class="form-label">Rut</label>
          <input name='rut' value="{{usuario.rut}}" type="text" class="form-control" maxlength='9' placeholder='Ej: 111111111' required>
        </div>-->
        <div class="my-3">
          <label class="form-label">Dirección</label>
          <input name='direccion' value="{{usuario.direccion}}" type="text" class="form-control" placeholder='{{usuario_get.direccion}}'>
        </div>
        <div class="my-3">
          <label class="form-label">Teléfono personal</label>
          <input name='telefono_personal' value="{{usuario.telefono_personal}}" type="text" class="form-control" placeholder='{{usuario_get.telefono_personal}}' maxlength='9' required >
        </div>
        <div class="my-3">
          <label class="form-label">Correo electrónico</label>
          <input name='correo_electronico' value="{{usuario.correo_electronico}}" type="text" class="form-control" placeholder='{{usuario_get.correo_electronico}}'>
        </div>
        <!--<div class="my-3">
          <label class="form-label">Cambia tu contraseña</label>
          <input name='password' type="password" class="form-control">
        </div>
        <div class="my-3">
            <label class="form-label">Repita la contraseña</label>
            <input name='raw_password' type="password" class="form-control">
        </div>-->
        <div class="row justify-content-between">
          <a href="{% url 'perfil' %}" class="btn btn-danger col-3">Cancelar</a>
          <button type="submit" class="btn btn-primary col-8">Guardar cambios</button>
        </div>
    </form>
</div>
{% endblock content %}