{% extends "base.html" %}
{% block title %}Crear Inmueble{% endblock title %}
{% block content %}
<div class="container">
<h2 class='text-center'>Crear Inmueble</h2>
    <form class='col-8 col-md-7 col-lg-6 col-xl-5 mx-auto' action='' method="post">
        {% csrf_token %}
        <div class="my-3">
          <label class="form-label">Propietario</label>
          <input name="usuario" value='{{ usuario.nombre }} {{ usuario.apellido }}' type="text" class="form-control" disabled>
        </div>
        <div class="my-3">
          <label class="form-label">Tipo de inmueble</label>
          <select name="tipo_inmueble" class="form-select form-select-sm" aria-label="Small select example">
            <option selected>Selecciona...</option>
            <option value="casa">Casa</option>
            <option value="departamento">Departamento</option>
            <option value="parcela">Parcela</option>
          </select>
        </div>
        <div class="my-3">
          <label class="form-label">Nombre de inmueble</label>
          <input name='nombre' type="text" class="form-control" required>
        </div>
        <div class="my-3">
          <label class="form-label">Dirección</label>
          <input name='direccion' type="text" class="form-control" placeholder='Ej: Calle 123' required>
        </div>
        <div class="my-3">
          <label class="form-label">Comuna</label>
          <select name="comuna" class="form-select form-select-sm">
            <option selected>Selecciona comuna...</option>
            {% for comuna in comunas %}
                <option value="{{ comuna.id }}">{{ comuna.nombre_comuna }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="my-3">
          <label class="form-label">M2 construidos</label>
          <input name='m2_construidos' type="text" class="form-control" maxlength='4' required>
        </div>
        <div class="my-3">
          <label class="form-label">M2 totales</label>
          <input name='m2_totales' type="text" class="form-control" maxlength='4' required>
        </div>
        <div class="my-3">
          <label class="form-label">Cantidad de habitaciones</label>
          <input name='cantidad_habitaciones' type="text" class="form-control" maxlength='2' required>
        </div>
        <div class="my-3">
          <label class="form-label">Cantidad de baños</label>
          <input name='cantidad_banos' type="text" class="form-control" maxlength='1' required>
        </div>
        <div class="my-3">
          <label class="form-label">Cantidad de estacionamientos</label>
          <input name='cantidad_estacionamientos' type="text" class="form-control" maxlength='2' required>
        </div>
        <div class="input-group my-3">
            <span class="input-group-text">$</span>
            <div class="form-floating">
                <input name='precio_arriendo' type="text" class="form-control" maxlength='7' id="floatingPrecio" placeholder="precio" required>
                <label for="floatingPrecio">Precio</label>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="disponible" id="exampleRadios1" value="True" checked>
            <label class="form-check-label" for="exampleRadios1">Disponible</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="disponible" id="exampleRadios2" value="False">
            <label class="form-check-label" for="exampleRadios2">No Disponible</label>
          </div>
        <div class="my-3">
          <label class="form-label">Descripción</label>
          <textarea name='descripcion' class="form-control" rows="5"></textarea>
        </div>
        <div class="row justify-content-between">
            <a href="{% url 'perfil' %}" class="btn btn-danger my-2 col-3">Volver atrás</a>
            <button type="submit" class="btn btn-primary my-2 col-8">Registrar inmueble</button>
        </div>
    </form>
</div>
{% endblock content %}