{% extends "base.html" %}
{% block title %}Perfil de {{ usuario.nombre }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class='col-lg-3 col-12 mb-lg-0 mb-4'>
            <h2 class='text-center'>Perfil de: <span>{{ usuario.nombre }} {{ usuario.apellido}}</span></h2>
            <div class="mb-3">
                <label class="form-label">tipo de usuario</label>
                <input class="form-control" type="text" value="{{ usuario.tipo_usuario }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Rut</label>
                <input class="form-control" type="text" value="{{ usuario.rut }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input class="form-control" type="text" value="{{ usuario.direccion }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Teléfono personal</label>
                <input class="form-control" type="text" value="{{ usuario.telefono_personal }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo electrónico</label>
                <input class="form-control" type="text" value="{{ usuario.correo_electronico }}" disabled>
            </div>
            <div class="text-center form-text">Si quieres actualizar tus datos <a href="{% url "actualizar_usuario" %}" class="btn-primary">click aquí</a></div>
        </div>

        <div class="col-lg-9 col-12 mb-lg-0 mb-3">
            {%if usuario.tipo_usuario == "arrendador"%}
            <h2 class='text-center'>Tu lista de propiedades</h2>
            {% else %}
            <h2 class='text-center'>Tu lista de arriendos</h2>
            {% endif %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <!--<th>Nombre</th>-->
                    <th>Dirección</th>
                    <th>Comuna</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Estado</th>
                    {%if usuario.tipo_usuario == "arrendador"%}
                    <th class="text-center">Arrendatario</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Borrar</th>
                    {% else %}
                    <th class="text-center">Dar de baja</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for inmueble in inmuebles  %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ inmueble.tipo_inmueble }}</td>
                            <!--<td>{{ inmueble.nombre }}</td>-->
                            <td>{{ inmueble.direccion }}</td>
                            <td>{{ inmueble.comuna.nombre_comuna }}</td>
                            <td class="text-center">{{ inmueble.precio_arriendo }}</td>
                            <td class="text-center">{{ inmueble.disponible }}</td>
                            {%if usuario.tipo_usuario == "arrendador"%}
                            <td class="text-center">{{ inmueble.arrendatario.nombre }}</td>
                            <td class="text-center"><a href="editar_inmueble/{{ inmueble.id }}"><i class="bi bi-pencil-square"></i></a></td>
                            <td class="text-center"><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}"><i class="bi bi-trash"></i></a></td>
                            {% else %}
                            <td class="text-center"><a href=""><i class="bi bi-eraser-fill"></i></a></td>
                            {% endif %}
                        </tr>
                        <!--agregar modal-->
                        <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title text-center"><i class="bi bi-exclamation-triangle"></i> Estás seguro de eliminar?</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <h5>{{ inmueble.nombre }} ({{ inmueble.tipo_inmueble }})</h5>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                  <a href="eliminar_inmueble/{{ inmueble.id }}"><button type="button" class="btn btn-danger">Si, eliminar</button></a>
                                </div>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}