{% extends "base.html" %}
{% block title %}Perfil de {{ usuario.nombre }}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class='col-lg-3 col-12 mb-lg-0 mb-4'>
            <h2 class='text-center'>Perfil de: <span>{{ usuario.nombre }} {{ usuario.apellido}}</span></h2>
            <div class="mb-3">
                <label class="form-label">tipo de usuario</label>
                <input class="form-control" type="text" value="{{ usuario.tipo_usuario }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Rut</label>
                <input class="form-control" type="text" value="{{ usuario.rut }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input class="form-control" type="text" value="{{ usuario.direccion }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Teléfono personal</label>
                <input class="form-control" type="text" value="{{ usuario.telefono_personal }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo electrónico</label>
                <input class="form-control" type="text" value="{{ usuario.correo_electronico }}" disabled>
            </div>
            <div class="text-center form-text">Si quieres actualizar tus datos <a href="{% url "actualizar_usuario" %}" class="btn-primary">click aquí</a></div>
        </div>

        <div class="col-lg-9 col-12 mb-lg-0 mb-3">
            <h2 class='text-center'>Lista de inmuebles</span></h2>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <!--<th scope="col">Nombre</th>-->
                    <th scope="col">Dirección</th>
                    <th scope="col">Comuna</th>
                    <th scope="col" class="text-center">Precio</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Arrendatario</th>
                    <th scope="col" class="text-center">Editar</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for inmueble in inmuebles  %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ inmueble.tipo_inmueble }}</td>
                            <!--<td>{{ inmueble.nombre }}</td>-->
                            <td>{{ inmueble.direccion }}</td>
                            <td>{{ inmueble.comuna.nombre_comuna }}</td>
                            <td class="text-center">{{ inmueble.precio_arriendo }}</td>
                            <td class="text-center">{{ estado }}</td>
                            <td class="text-center">{{ inmueble.arrendatario.nombre }}</td>
                            <td class="text-center"><a href="{% url 'editar_inmueble' %}"><i class="bi bi-pencil-square"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}