a{
  text-decoration: none;
  color: green;
}
/*para hacer desaparecer el placeholder*/
input:focus::placeholder,
textarea:focus::placeholder{
    color: transparent;
  }

/*ICONS*/
.bi-door-open,
.bi-person-bounding-box,
.bi-person-circle,
.bi-person-fill-add,
.bi-house-add-fill,
.bi-search{
  color: gray;
  font-size: 35px;
}
.bi-bell-fill{
  width: 25px;
}
.bi-exclamation-triangle{
  color:red;
}
.bi-person-square{
  width: 100px;
  height: 150px;
}


.navbar{
  background-color: #CEC9CB;
}
footer{
  background-color: #3F3F3F;
  height: auto;
  max-height: 100vh;
}